@import "tailwindcss";

@theme {
  /* === Primary (Peach) === */
  --color-primary: #F79C42;
  /* --color-primary: #e27602; */
  /* --color-primary: #b100cd; */
  /* --color-primary: #6ac5fe; */
  /* --color-primary: #52a447; */
  /* --color-primary: #de0a26; */


  --color-dark:  #631e0b;

  --color-red-40: #ff8164;
  --color-red-10: #ffccbc;
}

.test{
  background: #631e0b;
}